<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.component.css">
  <script src="app.component.ts"></script>
  
  <title>Competency TS Exercise - TS Sampling</title>


</head>
<body>


<div class="container">
  <!-- Resources -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <h3>Make a Selection</h3>
  
  
  <ul class="actions">
    <h2>Button Tags</h2>
    <li><a href="#" class="btn btn-info" role="button" >Get all memes</a></li><br>
    <li><a href="#" class="btn btn-info" role="button">Add a meme</a></li><br>
    <li><a href="#" class="btn btn-info" role="button">Get a meme</a></li><br>
    <li><a href="#" class="btn btn-info" role="button">Update a meme</a></li><br>
    <!-- <li><a href="#DeleteMeme" class="button scrolly">Delete a meme</a></li><br/> -->
    <li><a href="#" class="btn btn-info" role="button">Get submissions</a></li><br>
    <li><a href="#" class="btn btn-info" role="button">Add submissions</a></li><br>
  </ul>
<table id="myTableList">
  <h1>Meme Maker API</h1>
</table>
  </div>
